{% extends "base.html" %}
{% block page %}
<div class="container-fluid">
  <h1 class="mt-4">Terria Catalog Generator</h1>
  <div class="">
    <div class="form-group">
      <label for="url">Select urls to create catalog (Multi select enabled)</label>
      {% block webserverlisting %}
      {% endblock %}


      <!-- meta data for the group -->
    </div>

    <div class="form-group" style="display: none">
      <label for="catalog-type">Catalog item Type</label>
      <input type="text" class="form-control" name="name" id="catalog-type" placeholder="name for catalog group"
        value="Group" />

    </div>
  </div>
  <button class="btn btn-primary" id="addItems">Add selected items</button>
  <div class="row" style="display: none;" id="requestedcatalog">
    <div class="form-group col-md-6 col-xs-6">
      <label for="catalog-name">Catalog urls</label>
      <div id="urllist">
      </div>
    </div>
    <div class="form-group col-md-6 col-xs-6">
      <label for="catalog-name">Catalog item name</label>
      <div id="namelist">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="display: none" id="pull-data">
      <button class="btn btn-primary" id="getCatalog">Pull Data</button>
      <div class="progress" style="display:none; margin-top: 20px;">
        <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
      </div>
    </div>

  </div>
  <div class="row" id="downloadCatalog" style="display: none;">
    <div class="col-md-12">
      <form method="post" action="/dea-web-tools{{ url_for('download_catalog') }}">
        <input type="text" id="filename" name="filename" style="display:none;"></input>
        <div class="form-group">
          <label for="catalogname">Enter file name</label>
          <input type="text" class="form-control" id="catalogname" name="catalogname" value="terria.json"></input>
        </div>
        <input type="submit" class="btn btn-primary" value="Download catalog">
      </form>
    </div>
  </div>
  <pre id="obj">
      </pre>
</div>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function () {
    $('#addItems').click(function (e) {
      if($('select#url').children('option:selected').length == 0 ){
	      return false;
      }
      $('select#url').children('option:selected').each(function (index) {
        $('#urllist').append('<input type="text" class="form-control url-name" value="' + $(this).text() + '"/>');
        $('#namelist').append('<input type="text" class="form-control catalog-name" value="' + $(this).val() + '"/>');
      });
      $('#pull-data').show();
      $('#requestedcatalog').show();
    });




    var index = 0;
    var itemcount;
    var new_catalog = [];
    var data;
    {% block template %}
    {% endblock %}
    $('#getCatalog').click(function (e) {
      // load reference json
      $('.progress').show();
      itemcount = $('.url-name').length;
      $.ajax({
        url: "{{ url_for('static', filename='js/featurereference.json') }}",
        data: {
          format: "json"
        },
        async: true,
        crossDomain: true,
        success: function (refdata) {
          data = refdata;
          ajax_call();

        },
        error: function (e) {
          console.log(' error data' + e.responseText);
          $.each(JSON.stringify(e.responseText), function (key, value) {
            console.log(key);
          });
        },
        done: function (output) {
          console.log('output is' + output);
        }


      });

    });


    function ajax_call() {
      var obj = {
        "name": $('.catalog-name').get(index).value,
        "type": 'group',
        "preserveOrder": true,
        "items": [

        ]
      };
      var baseurl = $('.url-name').get(index).value;
      var url = baseurl + '?service=WMS&request=GetCapabilities&version=1.3.0&tiled=true';
      $('#getCatalog').text('Pulling ' + baseurl);
      var progressbarvalue = (index) / itemcount * 100;
      $('#progressbar').attr('aria-valuenow', progressbarvalue);
      $('#progressbar').css('width', progressbarvalue + '%');
      if (baseurl == 'https://gsky.nci.org.au/ows/dea') {

        template['catalog'].push({
          "name": $('.catalog-name').get(index).value,
          "type": 'wms-getCapabilitie',
          "url": baseurl
        });
            completion_checker();
      } else {
        $.ajax({
          url: url,
          type: 'GET',
          async: true,
          success: function (xml) {
            console.log(url);
            var $xml = $(xml);
            // split the parser to two types - with subfolders and without subfolders

            // below is with subfolders
            if ($('select#url').children('option:selected').val() != 'GSKY-Web-Map-Service') {
              $xml.find('Layer').find('Layer[queryable!="1"]').each(function () {
                let folder_title = $(this).find('Title').first().text();
                let new_folder = {};
                new_folder['name'] = folder_title;
                new_folder['type'] = 'group';
                new_folder['preserveOrder'] = true;
                new_folder['items'] = [];
                new_catalog.push(new_folder);
                $(this).find('Layer[queryable="1"]').each(function () {
                  let name = $(this).find('Name').first().text();
                  let title = $(this).find('Title').first().text();
                  let new_item = {};
                  new_item['name'] = title;
                  new_item['type'] = 'wms';
                  new_item['layers'] = name;
                  new_item['url'] = baseurl;
                  new_item['linkedWcsUrl'] = baseurl;
                  new_item['linkedWcsCoverage'] = name;
                  new_item["ignoreUnknownTileErrors"] = true;
                  new_item["chartType"] = "momentPoints";
                  new_item["chartColor"] = "white";
                  new_item["opacity"] = 1;
                  if (data[name]) {
                    $.each(data[name], function (k, v) {
                      new_item[k] = v;
                    });

                  }
                  new_folder['items'].push(new_item);
                  console.log(new_item);
                });
                obj['items'].push(new_folder);
              });
              // end of the subfolder section
            } //end if
            console.log(obj);
            template['catalog'].push(obj);
            completion_checker();
          } // end of ajax success
        }); // end of ajax function
      }
    }
  function completion_checker(){

      console.log(index + '   >' + itemcount);
      if (index < itemcount - 1) { //start of for
        index++;
        ajax_call();
      } else if (index == itemcount - 1) {

        $('#obj').text(JSON.stringify(template, null, 2));
        $.ajax({
          url: "/dea-web-tools{{ url_for('json_generator') }}",
          type: 'POST',
          data: JSON.stringify(template),
          contentType: "application/json; charset=UTF-8",
          dataType: "json",
          success: function (data) {
            $('#filename').val(data['filename']);
            $('#progressbar').attr('aria-valuenow', 100);
            $('#getCatalog').hide();

            $('#progressbar').css('width', '100%');
            $('#downloadCatalog').show();
          }
        });
      }
  }
  });
</script>
{% endblock %}
