{% extends "base.html" %} {% block page %}
<div class="container-fluid">
  <h1 class="mt-4">Legend Comparison Tool</h1>
  <div class="row">
    <div class="col-md-6">
      <input
        type="url"
        class="form-control"
        id="stable-ows-url"
        placeholder="Enter ows url"
        value="https://ows.dev.dea.ga.gov.au/"
      />
    </div>
    <div class="col-md-6">
      <input
        type="url"
        class="form-control"
        id="comparable-ows-url"
        placeholder="Enter comparison ows url"
        value="https://ows-ping.dev.dea.ga.gov.au/"
      />
    </div>
    <div class="col-md-12" id="pull-data">
      <button class="btn btn-primary" id="compareLegends">Compare</button>
    </div>
  </div>
  <div class="col-md-8 offset-2" id="legend-compare-row"></div>
</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    var new_catalog = [];
    $("#compareLegends").click(function (e) {
      $("#legend-compare-row").empty();
      var stableowsurl = $("#stable-ows-url").val();
      var comparableowsurl = $("#comparable-ows-url").val();
      var stablegetcapurl =
        stableowsurl +
        "?service=WMS&request=GetCapabilities&version=1.3.0&tiled=true";
      var comparablegetcapurl =
        comparableowsurl +
        "?service=WMS&request=GetCapabilities&version=1.3.0&tiled=true";
      $.ajax({
        url: stablegetcapurl,
        type: "GET",
        async: true,
        success: function (xml) {
          var $xml = $(xml);
          $("#compareLegends").text("Pulling " + stableowsurl);
          $xml
            .find("Layer")
            .find('Layer[queryable!="1"]')
            .each(function () {
              $("#legend-compare-row").append(
                "<h4>" + $(this).find("Name").first().text() + "</h4>"
              );
              $(this)
                .find("Style")
                .each(function () {
                  if ($(this).find("LegendURL").first().text()) {
                    var legendImageSrc = $(this)
                      .find("LegendURL")
                      .find("OnlineResource")
                      .attr("xlink:href");
                    var comparablelegendImageSrc = legendImageSrc.replace(
                      stableowsurl,
                      comparableowsurl
                    );
                    $("#legend-compare-row").append(
                      '<div class="row"><img width="50%" src=' +
                        encodeURI(legendImageSrc) +
                        '><img width="50%" src=' +
                        encodeURI(comparablelegendImageSrc) +
                        "></div>"
                    );
                  }
                });
            });
        },
      }); // end of first ajax
    });
  });
</script>
{% endblock %}
